html, body{
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: aliceblue;
    font-weight: normal;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav{
    width: 350px;
    height: auto;
    position: fixed;
    top: 20%;
    left: 0;
    margin-bottom: 10%;
}

.nav a{
    font-size: 28px;
    font-family: 'Times New Roman';
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color:white;
    color: black;
    line-height: 90px;
    text-align: center;
    transition: 250ms;
}

.nav a:hover{
    background-color:black;
    color: white;
    width: 100%;
}

.a{
    width: 95%;
}

.b{
    width: 80%;
}

.c{
    width: 70%;
}

.d{
    width: 85%;
}

.content{
    position: relative;
    margin-left: 400px;
    /*background-color: blue;*/
}

.About{
    position: relative;
    bottom: 0;
    color: white;
    font-family: Courier;
}

.About h1{
    font-size: 50px;
}

.About h3{
    font-size: 50px;
}

.About h4{
    font-size: 50px;
}

.About img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.About p{
    text-align: center;
}

.Hobby{
    position: relative;
    bottom: 0;
    color: white;
    font-family: Courier;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Hobby h1{
    font-size: 50px;
    width: 100%
}

.Hobby .photo{
    width: 300px;
    height: 200px;
    margin: 0 100px;
}

.Hobby .Dota{
    width: 200px;
    height: 200px;
    margin: 0 100px;
}

.Masterpiece{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Masterpiece .Mobil{
    width: 700px;
    height: 500px;
    margin: 50px 50px;
}

.Masterpiece h1{
    width: 100%;
}

.Kontak{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.Kontak div{
    margin: 50px 50px;
}
.sosmed1{
    background-image: url(line.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    justify-content: center;
    border
}

.sosmed1 p{
    font-size: 30px;
    text-align: center;
    color: black;
    padding-top: 50%;
}

.sosmed2{
    background-image: url(instagram.png);
    background-repeat: no-repeat;
    width: 210px;
    height: 210px;
    background-size: cover;
    justify-content: center;
}

.sosmed2 p{
    font-size: 30px;
    text-align: center;
    color:white;
    padding-top: 50%;
}