{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Tugas SBF Cuy!</title>
		<link rel="stylesheet" href="{% static 'portfolio_page/Tugas-SBF1.css' %}" >
	</head>

	<body class="background">
		<div>

			<div class="nav">
				<a class="a" href="#profile">About Me</a>
				<a class="b" href="#Hobi">My Hobby</a>
				<a class="c" href="#masterpiece">My Masterpiece</a>
				<a class="d" href="#contact">Contact Me!</a>
			</div>

			<div class="content">

				<div class="About" id="profile">
					<p><img src="{% static 'portfolio_page/profile.jpg' %}"></p>
					<h1>Biodata Singkat</h1>
					<h3>I am Luthfi Idrus</h3>
					<h4>I was born on December 16, 2000</h4>
				</div>

				<hr>

				<div class="Hobby" id="Hobi">
					<h1>Hobby</h1>
					<p><img src="{% static 'portfolio_page/Dota2Logo.png' %}" class="Dota"></p>
					<p><img src="{% static 'portfolio_page/photography.jpg' %}" class="photo"></p>
					<h6>Hobi gua adalah bermain game Dota dan Photography</h6>
				</div>

				<hr>

				<div class="Masterpiece" id="masterpiece">
					<h1>Amazing isn't it?</h1>
					<img src="{% static 'portfolio_page/Mobil1.jpg' %}" class="Mobil">
					<img src="{% static 'portfolio_page/Mobil2.jpg' %}" class="Mobil">
					<img src="{% static 'portfolio_page/Mobil3.jpg' %}" class="Mobil">
					<img src="{% static 'portfolio_page/Mobil4.jpg' %}" class="Mobil">
				</div>

				<hr>

				<div class="Kontak" id="contact">
					<div class="sosmed1">
						<p><strong>ID Line: <br> luth.</strong></p>
					</div>

					<div class="sosmed2">
						<p><strong>@luthfiidrus</strong></p>
					</div>
				</div>

			</div>

		</div>

	</body>
	

</html>