<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'msg:message_create' %}" method="POST">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
                {{ field }}
            {% endfor %}
        </div>
        <button type="submit">Pencet</button>
    </form>
    {% for message in msgs %}
        <h6>{{ message.submiter }}</h6>
        <p>{{ message.message }}</p>
        <p>{{ message.created_at }}</p>
    {% endfor %}
</body>
</html>